# Data Manipulation and Analysis
pandas==2.2.1
polars==0.20.21

# Machine Learning
scikit-learn==1.4.1.post1
lightgbm==4.3.0

# Visualization
matplotlib==3.8.3
seaborn==0.13.2
plotly==5.22.0

# To run in a Jupyter environment
ipykernel==6.29.4